---
import faceSvg from "../../assets/face.svg";

---

<div class="about-us-banner">
    <h2 class="home-section-title">ABOUT US</h2>
    <div class="about-us-first-row">
        <h1>WHO WE ARE</h1>
        <p>Apex is a boutique consulting firm with decades of software development experience. We grew up in the era of structured design methodologies, adapted our learnings to the rapid development approaches, and graduated to Agile.

            <br /><br />Having partnered with many of the original Agile founders, we worked hand-in-hand with them to implement Agile software development practices at companies like IBM, Lotus and Verizon. Raj Heda, President and CEO of Apex, is a leading author, teacher and world-renowned industry consultant. Our in-house experts are master’s degree students at Boston University’s Metropolitan College, with decades of industry experience.</p>
    </div>
    <div class="about-us-second-row">
        <div>
            <div>
                <img class="face-svg" src={faceSvg.src} alt="face">
                <img class="face-svg" src={faceSvg.src} alt="face">
                <img class="face-svg" src={faceSvg.src} alt="face">
            </div>
            <p>Devin Dumais, Andras Palfi, and Shailesh Tamrakar are Apex’s three lead development consultants.</p>
        </div>
        <div>
            <div>
                <img class="face-svg" src={faceSvg.src} alt="face">
            </div>
            <p>Keith Gutfreund leads Apex’s Product Owner and Content Writer teams. Keith studied Electrical and Computer Engineering and has been a hardware and software developer for over 4 decades.</p>
        </div>
        <div>
            <div>
                <img class="face-svg" src={faceSvg.src} alt="face">
                <img class="face-svg" src={faceSvg.src} alt="face">
            </div>
            <p>Po-Han (John) Huang and Daniela lead Apex’s Quality certification team.</p>
        </div>
        <div>
            <div>
                <img class="face-svg" src={faceSvg.src} alt="face">
            </div>
            <p>Mingyang Zu is lead consultant for Apex’s Business Analyst certification team.</p>
        </div>
    </div>
</div>