---
import CoachingImg from "../../assets/coaching.svg";
import partner1 from '../../assets/safe.png';
import partner2 from '../../assets/scrumalliance.png';
import partner3 from '../../assets/scrumorg.png';
import partner4 from '../../assets/pmi.png';

---

<div class="coaching-page-container">
    <div class="hero-banner" style="background: linear-gradient(83deg, #313630 29.87%, #8E9C8B 148.34%);">
        <div>
            <h1>Agile Resources</h1>
            <h3>A quick guide to our certifications and more information on our trusted instructors!</h3>
            <!-- <a href="">Contact Us</a> -->
        </div>
        <!-- <img src={CoachingImg.src} id="coaching-bg-svg" width="1000" height="500"> -->
    </div>
    <div class="assessment-body-container-why-assessment">
        <h3 class="marge">Certification Guide</h3>
        <a href="https://scaledagile.com/certification/safe-lean-portfolio-manager/" target="_blank"><img src={partner3.src} height="200px" style="border-radius: 20px;" /></a>
        <h3>Scrum.org Certifications</h3>
        <p>Focused on software teams and individuals who want deep, test-based validation of their Scrum knowledge.Best for: Individual professionals, tech-focused rolesExam format: Timed, online multiple choice</p>
        
        <a href="https://scaledagile.com/certification/safe-lean-portfolio-manager/" target="_blank"><img src={partner2.src} height="100px" style="border-radius: 20px;" /></a>
        <h3>Scrum Alliance Certifications</h3>
        <p>Ideal for teams and organizations looking for instructor-led paths to Agile mastery.Best for: Organizations, instructor-led learnersExam format: Course + exam (for most); some are course-only</p>
        
        <a href="https://scaledagile.com/certification/safe-lean-portfolio-manager/" target="_blank"><img src={partner1.src} height="100px" style="border-radius: 20px;" /></a>
        <h3>SAFe (Scaled Agile Framework) Certifications</h3>
        <p>Designed for enterprises scaling Agile across multiple teams or entire orgs.
            Authority: Scaled Agile, Inc.Best for: Enterprises, government, mid-to-senior professionalsExam format: Timed, proctored, online</p>
        
        <a href="https://scaledagile.com/certification/safe-lean-portfolio-manager/" target="_blank"><img src={partner4.src} height="200px" style="border-radius: 20px;" /></a>
        <h3>PMI Certifications</h3>
        <p>For those looking to bridge traditional project management and Agile.Best for: Experienced project managers moving into AgileExam format: Timed, proctored online or at test centers.</p>
        
        <span id="sat" class="training-element">See All Trainings</span>

        <h3>Meet the Instructors</h3>
        <p>
            Our instructors are industry leaders with decades of experience coaching Agile transformations at IBM, PwC, edX, and more. Raj Heda, our lead instructor, also teaches at Boston University and Brandeis University.
<br />
<br />
Whether you're new to Agile or working toward advanced certifications, our team provides the guidance, encouragement, and expertise to help you succeed.
<br />
<br />

<a href="https://www.linkedin.com/in/raj-heda/">https://www.linkedin.com/in/raj-heda/</a>
        </p>

        <span id="linked" class="training-element">➔ LinkedIn</span>

    </div>
</div>

<script>
    document.getElementById("linked")?.addEventListener("click", () => {document.location.href = 'https://www.linkedin.com/in/raj-heda/'});
    document.getElementById("sat")?.addEventListener("click", () => {document.location.href = '/upcoming'});
</script>

<style>
    h3 {
        padding: 0;
        margin: 0;
    }

    .marge {
        margin-top: 40px;
    }

    img {
        margin-top: 40px;
    }

    span {
        cursor: pointer;
    }
</style>