---
import cal1Img from "../../assets/cal1.png";

import saImg from "../../assets/sa.png";
import ssmImg from "../../assets/ssm.png";
import popmImg from "../../assets/popm.png";
import sgpImg from "../../assets/sgp.png";
import spcImg from "../../assets/spc.png";
import sasmImg from "../../assets/sasm.png";
import sdpImg from "../../assets/sdp.png";
import archImg from "../../assets/arch.png";
import rteImg from "../../assets/rte.png";
import aseImg from "../../assets/ase.png";
import lpmImg from "../../assets/lpm.png";
import apmImg from "../../assets/apm.png";

import pspoImg from "../../assets/pspo.png";
import psdImg from "../../assets/psd.png";
import psmImg from "../../assets/psm.png";

import csmImg from "../../assets/csm.png";
import cspoImg from "../../assets/cspo.png";
import csdImg from "../../assets/csd.png";

import pmpImg from "../../assets/pmp.png";
import acpImg from "../../assets/acp.png";

---

<div class="assessment-container">
    <div class="training-top-banner" style="">
        <div>
            <h1>Training</h1>
            <!-- <a href="">Schedule an Assessment</a> -->
        </div>
    </div>
    <div class="training-content-container">
        <h3>LEADERSHIP</h3>
        <div class="training-element-list">
            <a href="https://www.agile42.com/en/product/certified-agile-leadership-1-cal-1" target="_blank"><img src={cal1Img.src} height="200px" /></a>
            <!-- <span class="training-element">Certified Agile Leadership (CAL1)</span> -->
        </div>
        <h3>SCALED AGILE 5.0</h3>
        <div class="training-element-list">
            <a href="https://scaledagile.com/certification/safe-agilist/" target="_blank"><img src={saImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe Agilist</span> -->
            <a href="https://scaledagile.com/certification/safe-scrum-master/" target="_blank"><img src={ssmImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Scrum Master</span> -->
            <a href="https://scaledagile.com/certification/safe-product-owner-product-manager/" target="_blank"><img src={popmImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Product Owner / Product Manage</span> -->
            <a href="https://scaledagile.com/certification/safe-government-practitioner/" target="_blank"><img src={sgpImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Government Practitioner</span> -->
            <a href="https://scaledagile.com/certification/safe-program-consultant/" target="_blank"><img src={spcImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Program Consultant</span> -->
            <a href="https://scaledagile.com/certification/safe-advanced-scrum-master/" target="_blank"><img src={sasmImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Advanced Scrum Master</span> -->
            <a href="https://scaledagile.com/certification/safe-devops-practitioner/" target="_blank"><img src={sdpImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® DevOps Practitioner</span> -->
            <a href="https://scaledagile.com/certification/safe-architect/" target="_blank"><img src={archImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Architect</span> -->
            <a href="https://scaledagile.com/certification/safe-release-train-engineer/" target="_blank"><img src={rteImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Release Train Engineer</span> -->
            <a href="https://scaledagile.com/certification/safe-agile-software-engineer/" target="_blank"><img src={aseImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Agile Software Engineer</span> -->
            <a href="https://scaledagile.com/certification/safe-lean-portfolio-manager/" target="_blank"><img src={lpmImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Lean Portfolio Manager</span> -->
            <a href="https://scaledagile.com/certification/safe-agile-product-manager/" target="_blank"><img src={apmImg.src} height="200px" /></a>
            <!-- <span class="training-element">Certified SAFe® Agile Product Manager</span> -->
        </div>
        <h3>SCRUM.ORG</h3>
        <div class="training-element-list">
            <a href="https://www.scrum.org/assessments/professional-scrum-product-owner-i-certification" target="_blank"><img src={pspoImg.src} height="200px" /></a>
            <!-- <span class="training-element">Professional Scrum Product Owner</span> -->
            <a href="https://www.scrum.org/assessments/professional-scrum-developer-certification" target="_blank"><img src={psdImg.src} height="200px" /></a>
            <!-- <span class="training-element">Professional Scrum Developer</span> -->
            <a href="https://www.scrum.org/assessments/professional-scrum-master-i-certification" target="_blank"><img src={psmImg.src} height="200px" /></a>
            <!-- <span class="training-element">Professional Scrum Master Training</span> -->
        </div>
        <h3>SCRUM ALLIANCE</h3>
        <div class="training-element-list">
            <a href="https://www.scrumalliance.org/get-certified/scrum-master-track/certified-scrummaster" target="_blank"><img src={csmImg.src} height="200px" /></a>
            <!-- <span class="training-element">CSM - Certified Scrum Master</span> -->
            <a href="https://www.scrumalliance.org/get-certified/product-owner-track/certified-scrum-product-owner" target="_blank"><img src={cspoImg.src} height="200px" /></a>
            <!-- <span class="training-element">CSPO - Certified Scrum Product Owner</span> -->
            <a href="https://www.scrumalliance.org/get-certified/developer-track/certified-scrum-developer" target="_blank"><img src={csdImg.src} height="200px" /></a>
            <!-- <span class="training-element">CSD - Certified Scrum Developer</span> -->
        </div>
        <h3>PMI</h3>
        <div class="training-element-list">
            <a href="https://www.pmi.org/certifications/project-management-pmp" target="_blank"><img src={pmpImg.src} height="200px" /></a>
            <!-- <span class="training-element">Project Management Professional</span> -->
            <a href="https://www.pmi.org/certifications/agile-acp" target="_blank"><img src={acpImg.src} height="200px" /></a>
            <!-- <span class="training-element">PMI Agile Certified Practitioner</span> -->
        </div>
        <h3>CORPORATE TRAINING</h3>
        <div class="training-element-list">
            <!-- <a href=""><img src={pmpImg.src} height="200px"></a> -->
            <span class="training-element alt">Value Stream Workshop</span>
            <!-- <a href=""><img src={pmpImg.src} height="200px"></a> -->
            <span class="training-element alt">SAFe® Portfolio Management</span>
            <!-- <a href=""><img src={pmpImg.src} height="200px"></a> -->
            <span class="training-element alt">Program Increment Workshop</span>
            <!-- <a href=""><img src={pmpImg.src} height="200px"></a> -->
            <span class="training-element alt">Inspect & Adapt</span>
            <!-- <a href=""><img src={pmpImg.src} height="200px"></a> -->
            <span class="training-element alt">Product Management Workshop</span>
            <!-- <a href=""><img src={pmpImg.src} height="200px"></a> -->
            <span class="training-element alt">Team Building</span>
            <!-- <a href=""><img src={pmpImg.src} height="200px"></a> -->
            <span class="training-element alt">Customized Scrum/Kanban Workshop</span>
        </div>
    </div>
</div>